@charset "UTF-8";

body {
    background-color: rgb(43, 43, 255);
    font: normal 15pt Jetbrains Mono;
}

header, footer {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
}

footer {
    font-style: italic;
}

