@charset "UTF-8";

@media screen and (min-width: 768px) {
    #corpo {
        transition: width 0.5s, height 0.5s ;
        width: 500px;
        height: 650px;
    }

    #title {
    transition: 0.5s ease-in-out;
    }

    #dados {
    margin-left: 17%;
    }

    label {
        transition: 0.5 ease-in-out;
    font-size: 1.45em;
    }

    #nome, #alt, #peso {
    transition: 0.5 ease-in-out;
    height: 40px;
    border-radius: 9px;
    border: 1px solid rgb(12, 183, 250);
    max-width: 200px;
    font-size: 17px;
    padding-left: 5px;
    }

    #nome {
    margin-left: 29px;
    }

    #peso {
    margin-left: 29px;
    }



}